.footer-upsell {
    padding-top: 6.4rem;
    height: 53.8rem;
    width: 39.6rem;
    padding-left: 3.2rem;
    position: relative;
    padding-bottom: 0rem;  
}

.ft_img {
    width: 230px;
    height: 428px;
    position: relative;
    right: 0px;
    bottom: 2px;
    overflow: hidden;
}

.footer_upsell-text {
    @extend .hero-text;
    height: 49.8rem;
    width: 20.7rem;
    padding-top: 0px;
}

.next_div {
    background-color: $color-light2;
    height: 0.2rem;
    width: 128rem;
    margin-top: 3rem; 
}

.ft_img {
    width: 62.8rem;
    height: 48.6rem;
    position: relative;
    left: 22rem;
    top: 7.2rem;
    overflow: hidden;
}

.ft_upsell_heading{
    @extend .hero_heading;
    padding-bottom: 5rem;
}