
.header_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 3.2rem;
    width: 36.4rem;
    height: 3.6rem;
}

//menu line
.menu-line1 {
    position: absolute;
    width: 2.4rem;
    height: 0.4rem;
    background: $color-dark4;
    border-radius: 0.3rem;
    left: 37.2rem;
    top: 4.1rem;
    }
    
.menu-line2 {
    @extend .menu-line1;
        left: 37.2rem;
        top: 5rem;
    }
    
.menu-line3 {
    @extend .menu-line1; 
        left: 37.2rem;
        top: 5.9rem;
    }

