.hero {
    padding-bottom: 8rem;
    padding-left: 3.2rem;
}
.hero-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 4rem;
    background-image: url(/assets/organisms/atoms/Ellipse\ 9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top; 
}
.hero_left_side {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    grid-column-start: 1;
    grid-column-end: 10;
}
.hero_right_side {
    grid-column-start: 10;
    grid-column-end: 13;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr;
}
.hero_right_image {
    width: 100px;
    height: 278px;
    grid-column-start: 2;
    grid-column-end: 2;
    align-items: flex-end;
}
.launching_soon {
    color: $color-pink;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;  
    font-size: 1.6rem;
    padding-top: 4rem;
}
.hero_heading {
    font-weight: 900;
    color: $color-dark1;
    font-size: 4.8rem;
    line-height: 5.8rem;
}
.paragraf {
    color: $color-dark2;
    font-size: 2rem;
    line-height: 150%;
    font-weight: 400;
    padding-bottom: 1rem;
    padding-right: 23px;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-bottom: 8rem;
        padding-left: 8rem;
        padding-right: 0rem;
    }
    .hero-text {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-top: 4rem;
        background-image: none;
    }
}


@media screen and (min-width: 1100px) {
    .hero {
        padding-bottom: 16rem;
        padding-left: 8rem;
        padding-top: 12rem;
        padding-right: 8rem;
    }
    .hero-text {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    }
    .hero_left_side {
        grid-column-start: 1;
        grid-column-end: 8;
        width: 100%;
        gap: 4rem;
    }
    .hero_heading {
        font-weight: 900;
        color: $color-dark1;
        font-size: 9.6rem;
        line-height: 11.8rem;
    }
    .hero_right_side {
        grid-column-start: 8;
        grid-column-end: 13; 
    }
}

