.hero {
    height: 44.8rem;
    padding-top: 4.2rem;
    width: 39.6rem;
    padding-left: 3.2rem;
    position: relative;
    padding-bottom: 8.2rem;
}

.hero-text {
    height: 41rem;
    width: 27.4rem;
    padding-top: 3.8rem;
    position: absolute;
    top: 5rem;
}
.launching_soon {
    width: 16.9rem;
    height: 1.9rem;
    color: $color-pink;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-align: center; 
}
/*width: 27.4rem; */
.hero_heading {
    font-weight: 900;
    color: $color-dark1;
    height: 13.8rem;
    font-size: 4.8rem;
    text-align: left;
    margin-top: 2.2rem;
    line-height: 120%; 
}

.paragraf {
    color: $color-dark2;
    font-size: 2rem;
    line-height: 150%;
    font-weight: 400;
    text-align: left;

}

.graphic img {
    width: 230px;
    height: 428px;
    position: relative;
    left: 170px;
    top: -53px;
    overflow: hidden;
}


