.press {
    padding-top: 6.4rem;
    width: 36.4rem;
    height: 11.7rem;
    position: relative;
    padding-bottom: 5.6rem;
    @extend header;
}

.companies {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    
}

.companies:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.companies:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.companies:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    
}
.companies:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
