.upsell {
    padding-left: 0px;
    margin-left: 0px;
    height: 32.6rem;
    width: 42.8rem;
    background: url(/assets/organisms/atoms/background.svg);
    background-origin: content-box;
    background-position: -60rem 0px;
    background-clip: border-box;
    position: relative;
}

.upsell_text {
    height: 17.2rem;
    padding-top: 12rem;  
}

h2 {
    color: $color-dark1;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.8rem;
    height: 9.6rem;
    width: 36.4rem;
    @extend header;
}

.upsell .paragraf {
    width: 36.4rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
    @extend .paragraf;
    @extend header;
}


