/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, .press, .upsell_paragraf, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, .press, .upsell_paragraf, h2, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header, .press, .upsell_paragraf, h2 {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  width: 39.6rem;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  width: 35.4rem;
}

.menu-line1, .menu-line3, .menu-line2 {
  position: absolute;
  width: 2.4rem;
  height: 0.4rem;
  background: #999999;
  border-radius: 0.3rem;
  left: 36rem;
  top: 4.1rem;
}

.menu-line2 {
  top: 5rem;
}

.menu-line3 {
  top: 5.9rem;
}

.hero {
  height: 448px;
  padding-top: 42px;
  width: 396px;
  padding-left: 32px;
  position: relative;
  padding-bottom: 82px;
}

.hero-text {
  height: 41rem;
  width: 274px;
  padding-top: 38px;
  position: absolute;
  top: 50px;
}

.launching_soon {
  width: 16.9rem;
  height: 1.9rem;
  color: #FF3998;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-align: center;
}

/*width: 27.4rem; */
.hero_heading {
  font-weight: 900;
  color: #111111;
  height: 13.8rem;
  font-size: 4.8rem;
  text-align: left;
  margin-top: 2.2rem;
  line-height: 120%;
}

.hero_paragraf {
  color: #555555;
  font-size: 2rem;
  line-height: 150%;
  font-weight: 400;
  text-align: left;
}

.graphic img {
  width: 230px;
  height: 428px;
  position: relative;
  left: 170px;
  top: -53px;
  overflow: hidden;
}

.upsell {
  padding-left: 0px;
  margin-left: 0px;
  height: 32.6rem;
  width: 428px;
  background: url(/background.svg);
  background-origin: content-box;
  background-position: -600px 0px;
  background-clip: border-box;
  position: relative;
}

.upsell_text {
  height: 172px;
  padding-top: 120px;
}

h2 {
  color: #111111;
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.8rem;
  height: 96px;
  width: 36.4rem;
}

.upsell_paragraf {
  color: #111111;
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
  width: 36.4rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.press {
  padding-top: 0rem;
  width: 36.4rem;
  height: 11.7rem;
  position: absolute;
}

.companies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
}

.companies:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.companies:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.companies:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.companies:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}


.btn span {
  align-items: center;
  background: #FFFFFF;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.btn {
  background-image: linear-gradient(68deg, #FF3939 10%, #FF3998 20%, #FF8139 30%, #39FFA0 230%, #FF8139 30%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #111111;
  display: block;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  height: 75px;
  margin-top: 3.2rem;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 188px;
  z-index: 2;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-size: 1.6rem;
  width: 428px;
  margin-top: 32px;

}
/*# sourceMappingURL=style.css.map */