//fonts
$font-main: 'Inter', sans-serif;

//colors
$color-dark1: #111111;
$color-dark2: #555555;
$color-dark3: #777777;
$color-dark4: #999999;
$color-light1: #FFFFFF;
$color-light2: #EEEEEE;
$color-light3: #CCCCCC;
$color-orange: #FF8139;
$color-pink: #FF3998;
$color-green: #39FFA0;
$color-red: #FF3939;
$color-lightgreen: #EDFFF6;
$color-lightorange: #FFF0E8;